{% extends "process.html" %}                                                                                                           
{% block process_content %}                                                                                                            
    <table class="table">                                                                                                              
        <thead>                                                                                                                        
            <tr>                                                                                                                       
                <th>PID</th>                                                                                                           
                <th>Name</th>                                                                                                          
                <th>Status</th>
                <th>cmdline</th>
            </tr>                                                                                                                      
        </thead>                                                                                                                       
        <tbody id="children_id">

        </tbody>                                                                                                                       
    </table>

    <script>
     $(function() {
        if ("WebSocket" in window) {
            ws = new WebSocket("ws://" + document.domain + ":8008/socket_channel/?host={{host}}&action=process&section=children");
            ws.onopen = function () {
                ws.send(JSON.stringify([{"method":"get_process_children","args":{"pid":{{pid}}}},{"method":"get_process","args":{"pid":{{pid}}}}]));
              };
            ws.onmessage = function (msg) {
                var message = JSON.parse(msg.data);
                var connect_status = message.connect_status
                var info = JSON.parse(message.output)

                if (connect_status == "连接成功") {
                    document.getElementById("connect_status").innerHTML = "<font color='green'>" + connect_status + "</font>"
                } else {
                    document.getElementById("connect_status").innerHTML = "<font color='red'>" + connect_status + "</font>"
                }
                get_process_children = info.get_process_children
                get_process = info.get_process
                document.getElementById("process_name_pid").innerHTML=get_process.name+" ("+get_process.pid+")";
                document.getElementById("process_num_files").innerHTML=get_process.num_files;
                document.getElementById("process_num_threads").innerHTML=get_process.num_threads;
                document.getElementById("process_num_children").innerHTML=get_process.num_children;
                var all_tr = ""
                for (var i =0;i<get_process_children.length;i++){
                    status = get_process_children[i]["status"]
                    cmdline = get_process_children[i]["cmdline"]
                    pid = get_process_children[i]["pid"]
                    name = get_process_children[i]["name"]
                    var tr_head = "<tr><td>"+pid+"</td><td><a href='/process/?section=overview&host={{ host }}&project=dzsj&pid="+pid+"'>" +name+"</a></td><td>"+status+"</td><td>"+cmdline+"</td></tr>"
                    all_tr = all_tr + tr_head
                }

                document.getElementById("children_id").innerHTML=all_tr;

            }
        };

        $('#chat_form input[name=text]').focus();

        $("#chat_form").on('submit', function(e){
            e.preventDefault();

            var input = $('#chat_form input[name=text]');
            var message = $(input).val();
            $(input).val('');

            ws.send(JSON.stringify({'output': message}));
        });


        window.onbeforeunload = function() {
            ws.onclose = function () {};
            ws.close()
        };
    });


    </script>
{% endblock %}   