{% extends "process.html" %}                                                                                                           
{% block process_content %}                                                                                                            
    <table class="table">                                                                                                              
        <tr class="skip-border">                                                                                                       
            <td>PID</td>                                                                                                               
            <td id="process_pid"></td>
        </tr>                                                                                                                          

        <tr>                                                                                                                           
            <td>Command</td>                                                                                                           
            <td id="process_cmdline">
            </td>
        </tr>
        <tr>
            <td>Parent</td>
            <td id="process_parent">
            </td>
        </tr>
        <tr>                                                                                                                           
            <td>User</td>                                                                                                              
            <td id="process_user"></td>
        </tr>                                                                                                                          
        <tr>                                                                                                                           
            <td>User ids</td>                                                                                                          
            <td>                                                                                                                       
                <table class="table table-bordered">                                                                                   
                    <tr>                                                                                                               
                        <td>real</td>                                                                                                  
                        <td id="process_uid_real"></td>
                    </tr>                                                                                                              
                    <tr>                                                                                                               
                        <td>effective</td>                                                                                             
                        <td id="process_uid_effective"></td>
                    </tr>                                                                                                              
                    <tr>                                                                                                               
                        <td>saved</td>                                                                                                 
                        <td id="process_uid_saved"></td>
                    </tr>                                                                                                              
                </table>                                                                                                               
            </td>                                                                                                                      
        </tr>                                                                                                                          
        <tr>                                                                                                                           
            <td>Group ids</td>                                                                                                         
            <td>                                                                                                                       
                <table class="table table-bordered">                                                                                   
                    <tr>                                                                                                               
                        <td>real</td>                                                                                                  
                        <td id="process_gid_real"></td>
                    </tr>                                                                                                              
                    <tr>                                                                                                               
                        <td>effective</td>                                                                                             
                        <td id="process_gid_effective"></td>
                    </tr>
                    <tr>
                        <td>saved</td>
                        <td id="process_gid_saved"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>Memory</td>
            <td>
                <table class="table table-bordered">
                    <tr>
                        <td>rss</td>
                        <td id="process_mem_rss"></td>
                    </tr>
                    <tr>
                        <td>vms</td>
                        <td id="process_mem_vms"></td>
                    </tr>
                    <tr>
                        <td>shared</td>
                        <td id="process_mem_shared"></td>
                    </tr>
                    <tr>
                        <td>text</td>
                        <td id="process_mem_text"></td>
                    </tr>
                    <tr>
                        <td>lib</td>
                        <td id="process_mem_lib"></td>
                    </tr>
                    <tr>
                        <td>data</td>
                        <td id="process_mem_data"></td>
                    </tr>
                    <tr>
                        <td>dirty</td>
                        <td id="process_mem_dirty"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>Terminal</td>
            <td id="process_terminal"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td id="process_status"></td>
        </tr>
        <tr>
            <td>Nice</td>
            <td id="process_nice"></td>
        </tr>
        <tr>
            <td>I/O Nice</td>
            <td id="process_io_nice"></td>
        </tr>
        <tr>
            <td>CWD</td>
            <td id="process_cwd"></td>
        </tr>
        <tr>
            <td># File-descriptors</td>
            <td id="process_all_files"></td>
        </tr>
        <tr>
            <td># Threads</td>
            <td id="process_all_threads"></td>
        </tr>
        <tr>
            <td>
                # Context-switches
            </td>
            <td>
                <table class="table table-bordered">
                    <tr>
                        <td>voluntary</td>
                        <td id="process_num_ctx_switches_vol"></td>
                    </tr>
                    <tr>
                        <td>involuntary</td>
                        <td id="process_num_ctx_switches_invol"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>CPU times</td>
            <td>
                <table class="table table-bordered">
                    <tr>
                        <td>user</td>
                        <td id="process_cpu_times_user"></td>
                    </tr>
                    <tr>
                        <td>system</td>
                        <td id="process_cpu_times_system"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>CPU affinity</td>
            <td id="process_cpu_affinity"></td>
        </tr>
    </table>

    <script>
        $(function() {
        if ("WebSocket" in window) {
            ws = new WebSocket("ws://" + document.domain + ":8008/socket_channel/?host={{host}}&action=process&section=overview");
            ws.onopen = function () {
                ws.send(JSON.stringify([{"method":"get_process","args":{"pid":{{pid}}}}]));
              };
            ws.onmessage = function (msg) {
                var message = JSON.parse(msg.data);
                var connect_status = message.connect_status
                var info = JSON.parse(message.output)

                if (connect_status == "连接成功") {
                    document.getElementById("connect_status").innerHTML = "<font color='green'>" + connect_status + "</font>"
                } else {
                    document.getElementById("connect_status").innerHTML = "<font color='red'>" + connect_status + "</font>"
                }
                get_process = info.get_process
                document.getElementById("process_name_pid").innerHTML=get_process.name+" ("+get_process.pid+")";
                document.getElementById("process_pid").innerHTML=get_process.pid;
                document.getElementById("process_cmdline").innerHTML=get_process.cmdline;
                document.getElementById("process_parent").innerHTML="<a href='/process/?host={{ host }}&project={{ project }}&section=overview&pid="+get_process.ppid+"'>"+get_process.parent_name+"</a> ("+get_process.ppid+")";
                document.getElementById("process_user").innerHTML=get_process.user;
                document.getElementById("process_uid_real").innerHTML=get_process.uid_real;
                document.getElementById("process_uid_effective").innerHTML=get_process.uid_effective;
                document.getElementById("process_uid_saved").innerHTML=get_process.uid_saved;
                document.getElementById("process_gid_real").innerHTML=get_process.gid_real;
                document.getElementById("process_gid_effective").innerHTML=get_process.gid_effective;
                document.getElementById("process_gid_saved").innerHTML=get_process.gid_saved;
                document.getElementById("process_mem_rss").innerHTML=Math.floor(get_process.mem_rss/1024/1024*10)/10 +" MB";
                document.getElementById("process_mem_vms").innerHTML=Math.floor(get_process.mem_vms/1024/1024*10)/10 +" MB";
                document.getElementById("process_mem_shared").innerHTML=Math.floor(get_process.mem_shared/1024/1024*10)/10 +" MB";
                document.getElementById("process_mem_text").innerHTML=Math.floor(get_process.mem_text/1024/1024*10)/10 +" MB";
                document.getElementById("process_mem_lib").innerHTML=Math.floor(get_process.mem_lib/1024/1024*10)/10 +" MB";
                document.getElementById("process_mem_data").innerHTML=Math.floor(get_process.mem_data/1024/1024*10)/10 +" MB";
                document.getElementById("process_mem_dirty").innerHTML=Math.floor(get_process.mem_dirty/1024/1024*10)/10 +" MB";
                document.getElementById("process_terminal").innerHTML=get_process.terminal;
                document.getElementById("process_status").innerHTML=get_process.status;
                document.getElementById("process_nice").innerHTML=get_process.nice;
                document.getElementById("process_io_nice").innerHTML="class: "+get_process.io_nice_class + " value: " + get_process.io_nice_value;
                document.getElementById("process_cwd").innerHTML=get_process.cwd;
                document.getElementById("process_num_files").innerHTML=get_process.num_files;
                document.getElementById("process_all_files").innerHTML=get_process.num_files;
                document.getElementById("process_num_threads").innerHTML=get_process.num_threads;
                document.getElementById("process_all_threads").innerHTML=get_process.num_threads;
                document.getElementById("process_num_children").innerHTML=get_process.num_children;
                document.getElementById("process_num_ctx_switches_vol").innerHTML=get_process.num_ctx_switches_vol;
                document.getElementById("process_num_ctx_switches_invol").innerHTML=get_process.num_ctx_switches_invol;
                document.getElementById("process_cpu_times_user").innerHTML=get_process.cpu_times_user;
                document.getElementById("process_cpu_times_system").innerHTML=get_process.cpu_times_system;
                document.getElementById("process_cpu_affinity").innerHTML=get_process.cpu_affinity[0] +","+get_process.cpu_affinity[1];
            }
        };

        $('#chat_form input[name=text]').focus();

        $("#chat_form").on('submit', function(e){
            e.preventDefault();

            var input = $('#chat_form input[name=text]');
            var message = $(input).val();
            $(input).val('');

            ws.send(JSON.stringify({'output': message}));
        });


        window.onbeforeunload = function() {
            ws.onclose = function () {};
            ws.close()
        };
    });


    </script>


{% endblock %}