<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>服务器实时监控系统</title>
        <link href="{{ url_for("static",filename="css/bootstrap.min.css") }}" rel="stylesheet">
        <link href="{{ url_for("static",filename="css/psdash.css") }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for("static",filename="img/favicon.ico") }}" type="image/x-icon">
        <script src="{{ url_for("static",filename="js/jquery.min.js")}}"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="psdash">
            <div class="header">
                <div class="logo">
                </div>
                <div class="top-nav">
                    <div class="host-info">
                        <div class="name">
                             <span class="hostname" id="hostname">加载中...</span>
                             <span id="connect_status"></span>
                        </div>
                        <div class="info" id="os">
                            加载中...
                        </div>
                    </div>
                    <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {% if project %}{{ project }}{% else %}选择项目{% endif %}
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% for p in project_list %}
                                    <li {% if project == p %}class="active"{% endif %}><a href="http://139.196.254.84:8008/?project={{ p }}">{{p}}</a></li>
                                {% endfor %}
                          </ul>
                    </div>
                    <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {% if host %}{{ host }}{% else %}选择服务器{% endif %}
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    {% for h in host_list %}
                                        <li {% if host == h %}class="active"{% endif %}><a href="http://139.196.254.84:8008/?project=dzsj&host={{h}}" target="_blank">{{h}}</a></li>
                                    {% endfor %}
                              </ul>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <div class="content">
                    <div class="left-nav">
                        <ul class="menu">
                            <li {% if page == "index" %}class="active"{% endif %}>
                                <a href="/">
                                    <span class="glyphicon glyphicon-th-large"></span>
                                    <span class="option-text">主面板</span>
                                </a>
                            </li>
                            <li {% if page == "index" %}class="active"{% endif %}>
                                <a href="/index/?host={{host}}&project=dzsj">
                                    <span class="glyphicon glyphicon-th"></span>
                                    <span class="option-text">概况</span>
                                </a>
                            </li>
                            <li {% if page == "processes" %}class="active"{% endif %}>
                                <a href="/processes/?host={{host}}&project=dzsj&user=all">
                                    <span class="glyphicon glyphicon-tasks"></span>
                                    <span class="option-text">进程</span>
                                </a>
                            </li>
                            <li {% if page == "network" %}class="active"{% endif %}>
                                <a href="/network/?host={{host}}&project=dzsj">
                                    <span class="glyphicon glyphicon-transfer"></span>
                                    <span class="option-text">网络</span>
                                </a>
                            </li>
                            <li {% if page == "disks" %}class="active"{% endif %}>
                                <a href="/view_disks/?host={{host}}&project=dzsj">
                                    <span class="glyphicon glyphicon-hdd"></span>
                                    <span class="option-text">磁盘</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="main-content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- // <script src="/static/js/app.js"></script> -->
    </body>
</html>
