{% extends "base.html" %}
{% block content %}
<div id="txtHint">
    <div class="box">
        <div class="box-header">
            <span>Network</span>
        </div>
        <div class="box-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>Interface</th>
                        <th>IP</th>
                        <th>Bytes sent</th>
                        <th>Bytes recv</th>
                        <th>Packets sent</th>
                        <th>Packets recv</th>
                        <th>Errors in</th>
                        <th>Errors out</th>
                        <th>Dropped in</th>
                        <th>Dropped out</th>
                        <th>RX/s</th>
                        <th>TX/s</th>
                    </tr>
                </thead>
                <tbody id="network_info">

                </tbody>
            </table>
        </div>
    </div>

    <div class="box">
        <div class="box-header">
            <span>Connections</span>
            <small class="pull-right">Listing {{ connections }} connections</small>
        </div>
        <div class="box-content">
            <form id="connections-form" action="" method="get">
                <table class="table">
                    <thead>
                        <tr>
                            <th>FD</th>
                            <th>PID</th>
                            <th>Family</th>
                            <th>Type</th>
                            <th>Local address</th>
                            <th>Remote address</th>
                            <th>State</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>
                                <select name="family" id="socket_family">
                                    <option value="">All</option>

                                </select>
                            </th>
                            <th>
                                <select name="type" id="socket_type">
                                    <option value="">All</option>

                                </select>
                            </th>
                            <th>
                                <input type="text" name="local_addr" value="" />
                            </th>
                            <th>
                                <input type="text" name="remote_addr" value="" />
                            </th>
                            <th>
                                <select name="state">
                                    <option value="">All</option>
                                    {% for val in states_all %}
                                        <option value="{{ val }}" {{ 'selected="selected"' if state == val }}>{{ val }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </form>
    </div>
</div>
</div>
<script type="text/javascript">
     $(function() {
        if ("WebSocket" in window) {
            ws = new WebSocket("ws://" + document.domain + ":8008/socket_channel/?host={{host}}&action=network&project=dzsj");
            ws.onopen = function () {
                ws.send(JSON.stringify([{"method":"get_network_interfaces","args":{}},{"method":"get_socket_constants","args":{}}]));
              };
            ws.onmessage = function (msg) {
                var message = JSON.parse(msg.data);
                var connect_status = message.connect_status
                var info = JSON.parse(message.output)

                if (connect_status == "连接成功") {
                    document.getElementById("connect_status").innerHTML = "<font color='green'>" + connect_status + "</font>"
                } else {
                    document.getElementById("connect_status").innerHTML = "<font color='red'>" + connect_status + "</font>"
                }
                get_network_interfaces = info.get_network_interfaces
                get_socket_constants = info.get_socket_constants

                var tr_all = ""
                $.each(get_network_interfaces,function(interface,interface_data){
                    inter = "<td>"+interface_data["name"]+"</td>"
                    ip = "<td>"+interface_data["ip"]+"</td>"
                    bytes_sent = "<td>"+Math.floor(interface_data["bytes_sent"]/1024/1024/1024*10)/10+" GB</td>"
                    bytes_recv = "<td>"+Math.floor(interface_data["bytes_recv"]/1024/1024/1024*10)/10+" GB</td>"
                    packets_sent = "<td>"+Math.floor(interface_data["packets_sent"]/1024/1024/1024*10)/10+" GB</td>"
                    packets_recv = "<td>"+Math.floor(interface_data["packets_recv"]/1024/1024/1024*10)/10+" GB</td>"
                    errors_in = "<td>"+interface_data["errors_in"]+"</td>"
                    errors_out = "<td>"+interface_data["errors_out"]+"</td>"
                    dropped_in = "<td>"+interface_data["dropped_in"]+"</td>"
                    dropped_out = "<td>"+interface_data["dropped_out"]+"</td>"
                    send_rate = "<td>"+Math.floor(interface_data["send_rate"]/1024*10)/10+" kb</td>"
                    recv_rate = "<td>"+Math.floor(interface_data["recv_rate"]/1024*10)/10 +" kb</td>"
                    tr_data = "<tr>"+inter+ip+bytes_sent+bytes_recv+packets_sent+packets_recv+errors_in+errors_out+dropped_in+dropped_out+send_rate+recv_rate+"</tr>"
                    tr_all = tr_all+tr_data
                })
                document.getElementById("network_info").innerHTML=tr_all;
                socket_families = get_socket_constants["socket_families"]
                socket_types = get_socket_constants["socket_types"]

                var families_all = ""
                $.each(socket_families,function(k,v){
                    i = "<option value='"+v+ "'>"+v+"</option>"
                    families_all = families_all + i
                })
                document.getElementById("socket_family").innerHTML=families_all;
                var types_all = ""
                $.each(socket_types,function(k,v){
                    i = "<option value='"+v+ "'>"+v+"</option>"
                    types_all = types_all + i
                })
                document.getElementById("socket_type").innerHTML=types_all;
            }
        };

        $('#chat_form input[name=text]').focus();

        $("#chat_form").on('submit', function(e){
            e.preventDefault();

            var input = $('#chat_form input[name=text]');
            var message = $(input).val();
            $(input).val('');

            ws.send(JSON.stringify({'output': message}));
        });


        window.onbeforeunload = function() {
            ws.onclose = function () {};
            ws.close()
        };
    });


</script>
{% endblock %}