{% extends "base.html" %}
{% block content %}
<div id="txtHint"> 
    <div id="processes" class="box">
        <div class="box-header">
            <span>Processes</span>
        </div>
        <div class="box-content">
            <ul class="nav nav-tabs" role="tablist">
                <li>
                    <a href="/processes/?node={{node}}">
                        All <span class="badge all">{{ num_procs }}</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/user_processes/?node={{node}}">
                        User processes <span class="badge">{{ num_user_procs }}</span>
                    </a>
                </li>
            </ul>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <a href="#">PID</a>
                        </th>
                        <th>
                            <a href="#">Name</a>
                        </th>
                        <th>
                            <a href="#">User</a>
                        </th>
                        <th>
                            <a href="#">Status</a>
                        </th>
                        <th>
                            <a href="#">Created</a>
                        </th>
                        <th title="Resident Set Size">
                            <a href="#">RSS</a>
                        </th>
                        <th title="Virtual Memory Size">
                            <a href="#">VMS</a>
                        </th>
                        <th>
                            <a href="#">Memory %</a>
                        </th>
                        <th>
                            <a href="#">CPU %</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in user_procs %}
                        <tr>
                          <td>{{ p.pid }}</td>
                          <td title="">
                              <a href="/process/?node={{node}}&pid={{p.pid}}">{{ p.name }}</a><br/>
                              <small>{{ p.cmdline}}</small>
                          </td>
                          <td>{{ p.user }}</td>
                          <td>{{ p.status }}</td>
                          <td>{{ p.created }}</td>
                          <td>{{ p.mem_rss|filesizeformat }}</td>
                          <td>{{ p.mem_vms|filesizeformat }}</td>
                          <td>{{ p.mem_percent   }}</td>
                          <td>{{ p.cpu_percent }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">

    function loadXMLDoc()
        {
        var xmlhttp;
        if (window.XMLHttpRequest)
                {
                xmlhttp=new XMLHttpRequest();
                }
        else
                {
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                }
        xmlhttp.onreadystatechange=function()
                {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                        {
                        document.getElementById("txtHint").innerHTML=xmlhttp.responseText;
                        }
                }
        xmlhttp.open("GET","/user_processes/?action=query&node={{node}}",true);
        xmlhttp.send()
        }
    timer = setInterval("loadXMLDoc();",2000);
</script>
{% endblock %}